<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>모해?모여! 로그인~</title>


    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">


      </head>
      <body id="backcolor">
        <div class="container">
          <div class="row">
            <div>

              <h1 class="text-center text-white text-title"><a style="color:#FA6A5C">모</a>해?
              <br>모여<a style="color:#FA6A5C">!</a></h1>

            </div>
              <div class="col-md-4"></div>
            <div class="col-md-4">
              <div id="backcolor" class="well" style="margins:auto">
                  <form accept-charset="UTF-8" role="form" method="post" action="/main">
                <div class="form-group">
                    <input name="user_id" value='' id="username" placeholder="Username" type="text" class="form-control" />
                </div>
                <div class="form-group">

                    <input name="user_password" id="password" value='' placeholder="Password" type="password" class="form-control" />
                </div>
                <div class="form-group">
                      <input id="addcolor"type="button" class="btn btn-default btn-login-submit btn-block " value="Login" onclick="move()" />
		      <script>
			function move(){
				location.href='/main';
			}
		      </script>
                </div>
                <hr />
                <div class="form-group">
                    <a id="addcolor"href="/signUp" class="btn btn-default btn-block "> 회원가입</a>
                      <a id="addcolor"href="" class="btn btn-default btn-block "> 아이디/비밀번호찾기</a>
                </div>
                  <div class="col-md-4"></div>

            </form>
              </div>


            </div>
            <img class="img-responsive center-block" src="../images/people.png" alt="">


      </div>

      </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../javascripts/bootstrap.min.js"></script>
  </body>
  </html>

