<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>모해?모여! 모하고싶어?</title>


    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">

<script src="js/javascript.js"></script>
  </head>
  <body>
    <nav class="navbar-default navbar-inverse navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">모해?모여!</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/main">Home</a></li>
          <li><a href="/main/imademeeting">내가만든모임</a></li>
          <li><a href="/main/mymeeting">나의모임일정</a></li>
          <li ><a href="/main/waitaccept">수락대기모임</a></li>
          <li><a href="/main/profilechange">회원정보수정</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
      <div id="backcolor">
          <h1 class="text-center text-white text-title"><br><a style="color:#FA6A5C;">모</a>하<a style="color:#FA6A5C;">고</a>싶어<a style="color:#FA6A5C;">?</a></h1><br>
            <div class=" container-fluid center-block text-center">
            <div class="col-xs-4 col-sm-4"></div>
            <div class="col-xs-4 col-sm-4 ">
          <a id="addcolor"href="" class="btn btn-default btn-block">모임만들기</a>
          </div>
          <div class="col-xs-4 col-sm-4"></div>
          </div>
            <br>
          </div>
            <br>
        <div class=" container-fluid center-block text-center">
            <div class="col-md-2"></div>
              <div class=" container-fluid col-md-8  " style="margin:1%;">
                <div class="row">

                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg1'><div><span>영화/뮤지컬<br>콘서트</span></div></div></a>
                    </div>
                  </div>

                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg2'><div><span>밥한끼?</span></div></div></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg3'><div><span>스포츠</span></div></div></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg4'><div><span>스터디/협업</span></div></div></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg5'><div><span>취미생활</span></div></div></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg6'><div><span>지역탐방</span></div></div></a>
                    </div>
                  </div>

                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg7'><div><span>게임</span></div></div></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg8'><div><span>야외활동</span></div></div></a>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box thumbnail'>
                      <a href="#"><div class='square-content bg9'><div><span>1시간 내<br>¹彭??</span></div></div></a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>

          <div id="backcolor">
            <br>
            <br>
            <br>
         </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/javascript.js"></script>

  </body>
</html>

