<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>?! ~</title>



    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <script src="js/javascript.js"></script>
  </head>
  <body onload="initialize3(0, 0)">
    <nav class="navbar-default navbar-inverse navbar-custom navbar-fixed-top"><!---->
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">?!</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#"></a></li>
          <li ><a href="#"></a></li>
          <li ><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

      <div id="backcolor"><!---->
          <h1 class="text-center text-white text-title"><br><a style="color:#FA6A5C;"></a><a style="color:#FA6A5C;"></a></h1><br>

        </div>
        <br>

          <div class=" container-fluid center-block"> <!---->
              <div class="col-md-2"></div>
                <div class=" container-fluid col-md-8  " style="margin:1%;">
                  <form>
                    <div class="col-md-12 col-lg-12 well">

                      <div class="row">
                        <div class="col-xs-4 col-md-4"></div>
                        <div class="col-xs-4 col-md-4">
                          <a href="#">
                          <div class='square-box well'>
                            <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                          </div></a>
                        </div>
                        <div class="col-xs-4 col-md-4"></div>
                        </div>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" for="inputName"></label>
                        <br>
                          <p>   </p>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" for="inputName"></label>
                        <br>
                          <p>   </p>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" for="inputName"></label>
                        <br>
                          <p>   </p>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" for="inputName"></label>
                        <br>
                          <p>   </p>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" for="inputName"></label>
                        <br>
                          <p>   </p>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" for="inputName"></label>
                        <br>
                          <p>   </p>
                        <br><br>
                         <div id="map_canvas"></div>

                        <hr>

                        <label id="addfontcolor"class="col-sm-3 control-label" ></label>
                        <a href="#"><p>URL</p></a>
                        <hr>
                        <label id="addfontcolor"class="col-sm-3 control-label" ></label>
                        <br><br>
                        <!--     -->
                        <div class="row">
                          <!-- -->
                          <div class="col-xs-4 col-md-4">
                            <a href="#">
                            <div class='square-box well'>
                              <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                            </div></a>
                          </div>
                          <!---->
                            <div class="col-xs-4 col-md-4">
                              <a href="#">
                              <div class='square-box well'>
                              <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                              </div></a>
                            </div>
                          <div class="col-xs-4 col-md-4">
                            <a href="#">
                            <div class='square-box well'>
                              <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                            </div></a>
                          </div>
                          </div>

                          <hr>
                          <label id="addfontcolor"class="col-sm-3 control-label" ></label>
                          <br><br>
                          <!--     -->
                          <div class="row">
                            <!-- -->
                            <div class="col-xs-4 col-md-4">
                              <a href="#">
                              <div class='square-box well'>
                                <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                              </div></a>
                            </div>
                            <!---->
                              <div class="col-xs-4 col-md-4">
                                <a href="#">
                                <div class='square-box well'>
                                <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                                </div></a>
                              </div>
                            <div class="col-xs-4 col-md-4">
                              <a href="#">
                              <div class='square-box well'>
                                <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                              </div></a>
                            </div>
                            </div>

                          <hr>
                  <div class="form-group">
                    <div class="col-sm-12 text-center">
                      <a id="addcolor" class="btn btn-primary" type="submit"></a>
                      <button id="addcolor" class="btn btn-primary" type="submit"></button>
                      <a id="addcolor" class="btn btn-primary" type="submit"></a>

                    </div>
                    <br>
                  </div>
                </div>
                </form>
              </div>

            </div>

            <div id="backcolor">
              <br>
              <br>
              <br>
           </div>


           <script async defer
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPpTwfj2gY8s2SLi2mOeWEf3Ytqrx6Cmk&callback=initMap">
           </script>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="../javascripts/bootstrap.min.js"></script>
            <script src="../javascripts/javascript.js"></script>
          </body>
        </html>

