<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>모해?모여! 회원가입을 축하합니다!</title>


    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript">

    </script>
  </head>
  <body id="backcolor">
        <div class="container">
        <div class="col-md-12">
        <div >
          </br>
          </br>
          </br>
          </br>
          <h1 class="text-center text-white text-title"><a style="color:#FA6A5C">회</a>원<a style="color:#FA6A5C">가</a>입이
          </br><a style="color:#FA6A5C">완</a>료</br>되<a style="color:#FA6A5C">었</a>어<a style="color:#FA6A5C">!</a></h1>
          <h3 class="text-center text-white "><a style="color:#FA6A5C">우리</a>이제 <a style="color:#FA6A5C">친구</a>를 찾으러 가자!</h3>
        </div>
        <br>
        <div class="col-sm-12 text-center">

          <a id="addcolor" class="btn btn-danger" type="submit" href="/" >로그인하러 가기</i></a>
        </div>
        </div>
    </div>
    <br>
  <img class="img-responsive center-block" src="../images/signupok.jpg" alt="">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../javascripts/bootstrap.min.js"></script>
</html>

